<center>
<h1>Leaderboard</h1>
<body>

<h3>Most Productive Users</h2>


<table style="width:50%">
  <thead>
  <tr>
    <th>Account</th>
    <th>Level</th> 
    <th>Experience</th>
  </tr>
  </thead>
  <tbody>
        <% @list.each do |user| %>
        <tr>
            <td>
                <%= user.email %>
            </td>
            <td>
                <%= user.level %>
            </td>
            <td>
                <%= user.experience %>
            </td>
        </tr>
        <% end %>
  </tbody>
</table>

</body>
</html>

<div id="button">
  <%= link_to 'Back', tasks_path, :id => "Home" %>
</div>
</center>