<body id="bootstrap-overrides">
  <div id="profile">
    <h3>
      <center><%= current_user.email %></center>
    </h3>
    <center><%= image_tag(current_user.profile_picture, :alt => "profile picture") %></center>
    <h3>
      <center>
        <%= "Rank: #{current_user.rank} (#{current_user.level})"%>
        <div class="progress" style="width: 25%">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            style="width: <%= current_user.levelprogress%>%" aria-valuenow="<%= current_user.levelprogress%>"
            aria-valuemin="0" aria-valuemax="100"> </div>
          <%= "(#{current_user.experience})" %>
        </div>
      </center>
    </h3>
  </div>
  <h1></h1>
  <center>Current Tasks</center>
  <div id="button">
  </div>
  <center>
    <h3>Current Tasks</h3>
  </center>
  <center>
    <button class="btn btn-outline-info"
      type="button"><%= link_to 'Add new task', new_task_path, :id => "add_task" %></button>
  </center>
  <center><%= form_tag tasks_path, :method => :get do %>
    <% @all_progress.each do |progress| %>
    <%= progress %>
    <%= check_box_tag "progress[#{progress}]" %>
    <% end %></center>
  <center><button class="btn btn-outline-success" type="button"><%= 'Update' %></button>
    <% end %></center>
  <%= form_tag tasks_path, :method => :get do %>
  <center><% @tasks.each do |task| %>
    <% if task.difficulty == 'Newb' %>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header">
        <%= link_to "#{task.progress}", tasks_path(id: task.id, update_status: true) %>
        (Newb)
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= task.name %></h4>
        <p class="card-text"><%= task.notes %></p>\
        <center><button class="btn btn-outline-secondary" type="button"><%= link_to 'Update'%></button>
      </div>
    </div>
    <% elsif task.difficulty == 'Medium' %>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
      <div class="card-header">
        <%= link_to "#{task.progress}", tasks_path(id: task.id, update_status: true) %>
        (Medium)
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= task.name %></h4>
        <p class="card-text"><%= task.notes %></p>
        <button class="btn btn-outline-secondary" type="button"><%= link_to "Update", tasks_path(id: task.id, update_status: true) %></button>
      </div>
    </div>
    <% elsif task.difficulty == 'Hard' %>
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
      <div class="card-header">
        <%= link_to "#{task.progress}", tasks_path(id: task.id, update_status: true) %>
        (Hard)
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= task.name %></h4>
        <p class="card-text"><%= task.notes %></p>
        <button class="btn btn-outline-secondary" type="button"><%= link_to "Update", tasks_path(id: task.id, update_status: true) %></button>
      </div>
    </div>
    <% else %>
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <div class="card-header">
        <%= link_to "#{task.progress}", tasks_path(id: task.id, update_status: true) %>
        (Death Wish)
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= task.name %></h4>
        <p class="card-text"><%= task.notes %></p>
        <button class="btn btn-outline-secondary" type="button"><%= link_to "Update", tasks_path(id: task.id, update_status: true) %></button>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %></center>
    <center>
    <button class="btn btn-outline-info"
      type="button"><%= link_to 'Leaderboard', leaderboard_path, :id => "Leaderboard" %></button>
    </center>
</body>