<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <center>
    <title>Productivity Game</title>
  </center>
  <%= stylesheet_link_tag 'bootstrap.min', 'media' => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>
  <% if request.path != "/users/sign_up" %>
  <% if current_user %>
  <div id="logout">
    <left><button class="btn btn-outline-danger" type="button">
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </button></left>
  </div>
  <% else %>
  <%= link_to('Sign in', new_user_session_path, :type => "button", :class => "btn btn-outline-primary") %>
  <%= link_to('Sign up', new_user_registration_path, :type => "button", :class => "btn btn-outline-danger") %>
  <% end %>
  <% end %>
  <div class="titlebar">
    <center>
      <h2 class="title">Productivity Game</h2>
    </center>
    <!–– <h3 class="title">
      </h3>

  </div>
  <div id="main">
    <% if flash[:notice] %>
    <div class="message" id="notice">
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:warning] %>
    <div class="message" id="warning">
      <%= flash[:warning] %>
    </div>
    <% end %>
    <div id="main">
      <%= yield %>
    </div>
    <center>
</body>

</html>